body {
	background: #CCCCCC
}

#banner {
	width: 100%;
}

h1 {
	text-align: center
}

p {
	text-align: center;
}

#missao {
	font-size: 20px
}

em strong {
	color: #FF0000;
}

.itens{
	font-style: italic;

}

.Benefícios{
	background-color:blue
	text-align: left;
	font-size: 25px;
	padding: 20px;
}

ul{
	display: inline-block;
	vertical-align: top;
	margin: 3%;
	list-style: circle;
	width: 20%;
	margin-right: 15%;

}

#imagem2{
	width: 50%;

}
